<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{profile.username}
  body
    #home
      #wrap
        h1.title #{profile.username}
        p.subject Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quos unde quaerat magni ea quisquam, doloribus amet eum commodi porro? Exercitationem.